{% extends 'base.html' %}
{% load static %} {% block title %}Profile{% endblock title %}

{% block content %}
    <h2>My Profile</h2>

    <div class="profile-image-wrapper">
        {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}" alt="Profile Picture" class="profile-img">
        {% else %}
            <div class="no-image-placeholder">
                No Image
            </div>
        {% endif %}
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div>
                    <label><strong>{{ field.label }}</strong></label>
                    <br>
                    {{ field }}
                    {% if field.errors %}
                        <div style="color: red; font-size: 0.9em;">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit">Update Profile</button>
        </form>
    </div>
{% endblock %}