{%extends 'base.html'%}

{%block title%}Home{%endblock title%}

{%block content%} 
    <h1 class="title">Video Chat</h1>
    <p class="description">
        This website uses user's cameras to play party games like charades, but with friends across the world!
    </p>

    <div class="about-section">
        <h2 class="about-us">About Us</h2>
        <p>
            This website was developed by [TEAM MEMBERS] for a unit project at Base Camp Coding Academy.
        </p>
    </div>

{%endblock content%}